<div style="text-align: center;padding: 40px;direction: rtl;font-family: Arial, sans-serif;">
    <img src="logo.png" class="logo" style="width: 250px;" >
    <div style="padding: 60px 0;margin: 25px 0;border-top: 2px solid #f0f0f0;border-bottom: 2px solid #f0f0f0;">
        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>{{name}},</span>
        </div>
        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>תודה על הצטרפותך לאתר ניקניים!</span>
        </div>

        <br><br>

        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>כעת עליך לאמת את כתובת הדוא"ל שלך,</span>
        </div>
        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>ולהתחיל ליהנות משירותי האתר.</span>
        </div>

        <br><br>

        <div style="font-size: 1.1em;line-height: 1.2em;color: blue;">
            <a href="{{registerLink}}">לאימות הדוא"ל לחץ כאן</a>
        </div>

        <br><br>

        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>המשך גלישה נעימה,</span>
        </div>
        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>צוות ניקניים</span>
        </div>
    </div>
    <div>
        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>שירות הלקוחות:</span>
        </div>
        <div style="font-size: 0.9em;line-height: 1.2em;color: blue;">
            <a href="tel:{{tel}}">{{tel}}</a>
        </div>
        <div style="font-size: 0.9em;line-height: 1.2em;color: blue;">
            <a href="mailto:{{email}}">{{email}}</a>
        </div>
    </div>
</div>