<div style="text-align: center;padding: 40px;direction: rtl;font-family: Arial, sans-serif;">
    <img src="logo.png" class="logo" style="width: 250px;" >
    <div style="padding: 35px 0;margin: 25px 0;border-top: 2px solid #f0f0f0;border-bottom: 2px solid #f0f0f0;">
        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>שלום </span>
            <span>{{name}},</span>
        </div>
        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>להחלפת סיסמא לחץ על הכפתור</span>
        </div>
        <a href="{{link}}" style="margin: 30px auto;display: block;background: #14b9da;color: #FFFFFF;text-decoration: none;width: 40%;border-radius: 10px;font-size: 2em;font-weight: bold;padding: 10px 0;">בצע</a>
        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>המשך גלישה נעימה,</span>
        </div>
        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>צוות ניקניים</span>
        </div>
    </div>
    <div>
        <div style="font-size: 1.1em;line-height: 1.2em;color: #000000;">
            <span>שירות הלקוחות:</span>
        </div>
        <div style="font-size: 0.9em;line-height: 1.2em;color: blue;">
            <a href="tel:{{tel}}">{{tel}}</a>
        </div>
        <div style="font-size: 0.9em;line-height: 1.2em;color: blue;">
            <a href="mailto:{{email}}">{{email}}</a>
        </div>
    </div>
</div>